### Regarding Data Frames
Dataframes are SparkR's prime data structure. Data Frames are used for storing, manipulating, and organizing data. There are a few ways to create a Data Frame in SparkR. You can utilize the `createDataFrame` function, if there's already a local **R** data frame in place, you can use `read.df` if your file is of a format natively readable by SparkR (such as a correctly structured JSON file or Parquet), or you can take a look in the <a href="http://spark-packages.org/">Spark Packages</a> and see if there is any packages made for reading your file.

To read and create data from our `mtcars` dataset, we use the `createDataFrame` function, like so:

In [1]:
#Create a data frame called "cars" using R's native dataset "mtcars"
cars <- createDataFrame(mtcars)

Obtaining Spark session...
Spark session obtained.

Now, you do the same for the `iris` dataset:

In [2]:
#Create a data frame called "flowers" using R's native dataset "iris"
#type your code here
iris <- createDataFrame(iris)

Warning message in FUN(X[[i]], ...):
“Use Sepal_Length instead of Sepal.Length  as column name”Warning message in FUN(X[[i]], ...):
“Use Sepal_Width instead of Sepal.Width  as column name”Warning message in FUN(X[[i]], ...):
“Use Petal_Length instead of Petal.Length  as column name”Warning message in FUN(X[[i]], ...):
“Use Petal_Width instead of Petal.Width  as column name”

<div class="alert alert-block alert-info" style="margin-top: 20px">You might receive some warning messages regarding the `iris` dataset. This is due to the column names not complying to the naming guidelines - for the purposes of this notebook, you can ignore them.</div>

### Registering Data Frames as tempTables
One of SparkR's more unique features is the capability to perform SQL queries on Data Frames. To do so, you generate a temporary SQL table (the so called `tempTable`) in Spark. We will go over performing SQL queries in the next Lab.

For now, to register a temporary SQL table, we use the following function:

In [3]:
#Create a temporary SQL table called "cars" using our SparkR data frame "cars"
createOrReplaceTempView(cars,"cars")

Now, do the same for the `flowers` data frame:

In [4]:
#Create a temporary SQL table called "flowers" using our SparkR data frame "flowers"
#type your code here
createOrReplaceTempView(iris,"iris")

### Useful functions: head and printSchema
Now that you have your structured data ready for SparkR, you can take a look over your data with some handy functions. The datasets you use might be very large, and as such, printing the entire data frame might be a little too messy. In this case, you can use the `head` function to take a look at only the first six rows, like so:

In [5]:
#Look at the first six rows of our "cars" SparkR data frame
#You need the SparkR:: prefix due to R already having a head function
SparkR::head(cars)

  mpg  cyl disp hp  drat wt    qsec  vs am gear carb
1 21.0 6   160  110 3.90 2.620 16.46 0  1  4    4
2 21.0 6   160  110 3.90 2.875 17.02 0  1  4    4
3 22.8 4   108   93 3.85 2.320 18.61 1  1  4    1
4 21.4 6   258  110 3.08 3.215 19.44 1  0  3    1
5 18.7 8   360  175 3.15 3.440 17.02 0  0  3    2
6 18.1 6   225  105 2.76 3.460 20.22 1  0  3    1

You can also take a look at the typing scheme of your data frame using the `printSchema` function:

In [6]:
#Look at the schema for our SparkR data frame "cars"
printSchema(cars)

root
 |-- mpg: double (nullable = true)
 |-- cyl: double (nullable = true)
 |-- disp: double (nullable = true)
 |-- hp: double (nullable = true)
 |-- drat: double (nullable = true)
 |-- wt: double (nullable = true)
 |-- qsec: double (nullable = true)
 |-- vs: double (nullable = true)
 |-- am: double (nullable = true)
 |-- gear: double (nullable = true)
 |-- carb: double (nullable = true)

Now, try doing the same for your `flowers` data frame!

In [7]:
#Look at the first six rows of our "flowers" SparkR data frame
#type your code here

In [8]:
#Look at the schema for our SparkR data frame "flowers"
#type your code here

# Data Manipulation in SparkR

### Selecting Columns
All of our data frames are separated in **rows and columns**, much like a data table. Most of the time, we would want to retrieve values from a specific column. To do this, we use the `select` function, like so:

In [9]:
#Select from the "cars" data frame the "mpg" column
#select(cars,cars$mpg)
#Select the first six rows of the "mpg" column from the "cars" data frame
#Remember that you have to add the SparkR:: prefix to head since R already has an incompatible head function
SparkR::head(select(cars,cars$mpg))

  mpg
1 21.0
2 21.0
3 22.8
4 21.4
5 18.7
6 18.1

Now, do the same for the `flowers` data frame!

In [10]:
#Select the first six rows of the "Petal_Length" column from the "flowers" data frame
#type your code here

### Filtering by Conditions
You can also **filter rows by imposing conditions** upon given columns. This something critical to know how to do, for you may want to subset your data frame given certain condition. For this, you use the `filter` function.

In [11]:
#Select the first six rows of "cars" that have a value under 20 in the "mpg" column
#We have to use the SparkR:: prefix since R already has a conflicting filter function
SparkR::head(SparkR::filter(cars, cars$mpg < 20))

  mpg  cyl disp  hp  drat wt   qsec  vs am gear carb
1 18.7 8   360.0 175 3.15 3.44 17.02 0  0  3    2
2 18.1 6   225.0 105 2.76 3.46 20.22 1  0  3    1
3 14.3 8   360.0 245 3.21 3.57 15.84 0  0  3    4
4 19.2 6   167.6 123 3.92 3.44 18.30 1  0  4    4
5 17.8 6   167.6 123 3.92 3.44 18.90 1  0  4    4
6 16.4 8   275.8 180 3.07 4.07 17.40 0  0  3    3

Now, try doing the same for the `flowers` data frame.

In [12]:
#Select the first six rows of "flowers" that have a value under 1.4 in the "Petal_Length" column
#type your code here

### Grouping by Average, Sum and Count
Another useful function is **grouping your data frame rows by their average, sum, and count**. This enables you to create a histogram or generate other relevant information with great ease. This is done with the `summarize` and `groupby` functions.

In [13]:
#Select the first six elements of the grouping of "cars" by its "mpg" column, plus the count of the occurrances of that given
#"mpg" value in the dataset
SparkR::head(summarize(groupBy(cars, cars$mpg), count = n(cars$mpg)))
#Select the first six elements of the grouping of "cars" by its "mpg" column, plus the sum of all occurrances of that given
#"mpg" value in the dataset
SparkR::head(summarize(groupBy(cars, cars$mpg), sum = sum(cars$mpg)))
#Select the first six elements of the grouping of "cars" by its "mpg" column, plus the average of all "hp" column values
#in rows which have that given "mpg" value
SparkR::head(summarize(groupBy(cars, cars$mpg), average = avg(cars$hp)))

  mpg  count
1 15.5 1
2 17.3 1
3 13.3 1
4 19.7 1
5 21.4 2
6 15.8 1

  mpg  sum
1 15.5 15.5
2 17.3 17.3
3 13.3 13.3
4 19.7 19.7
5 21.4 42.8
6 15.8 15.8

  mpg  average
1 15.5 150.0
2 17.3 180.0
3 13.3 245.0
4 19.7 175.0
5 21.4 109.5
6 15.8 264.0

Additionally, you can also sort the data using the `arrange` function, like so:

In [14]:
#Make a variable called "group" which is the grouping of "cars" by its "mpg" column, plus the average of all "hp" column values 
#in rows which have that given "mpg" value
group <- summarize(groupBy(cars, cars$mpg), average = avg(cars$hp))
#Take the first six elements of "group" which are ordered in decreasing "average" column value order
SparkR::head(arrange(group, desc(group$average)))

  mpg  average
1 15.0 335
2 15.8 264
3 14.3 245
4 13.3 245
5 14.7 230
6 10.4 210

Now try it on the `flowers` data frame!

In [15]:
#Make a variable called "petals" which is the grouping of "flowers" by its "Petal_Length" column, plus the count of its occurrances
#type your code here
#Take first six elements of "petals" which are ordered in decreasing "count" column order
#type your code here

### Operating on Columns
Now that you know how to select columns, you can now **perform operations on them**. Virtually any function in SparkR can be applied to a column. To do so, you use the `$` operator.

In [16]:
#In the "cars" data frame, change the "mpg" (miles per gallon) column to miles per liter and then change it back
#1 gallon is 3.78541178 liters
cars$mpg <- cars$mpg/3.78541178
SparkR::head(cars)
#Change it back
cars$mpg <- cars$mpg*3.78541178
SparkR::head(cars)

  mpg      cyl disp hp  drat wt    qsec  vs am gear carb
1 5.547613 6   160  110 3.90 2.620 16.46 0  1  4    4
2 5.547613 6   160  110 3.90 2.875 17.02 0  1  4    4
3 6.023123 4   108   93 3.85 2.320 18.61 1  1  4    1
4 5.653282 6   258  110 3.08 3.215 19.44 1  0  3    1
5 4.940017 8   360  175 3.15 3.440 17.02 0  0  3    2
6 4.781514 6   225  105 2.76 3.460 20.22 1  0  3    1

  mpg  cyl disp hp  drat wt    qsec  vs am gear carb
1 21.0 6   160  110 3.90 2.620 16.46 0  1  4    4
2 21.0 6   160  110 3.90 2.875 17.02 0  1  4    4
3 22.8 4   108   93 3.85 2.320 18.61 1  1  4    1
4 21.4 6   258  110 3.08 3.215 19.44 1  0  3    1
5 18.7 8   360  175 3.15 3.440 17.02 0  0  3    2
6 18.1 6   225  105 2.76 3.460 20.22 1  0  3    1

Now try the same on the `flowers` data frame.

In [17]:
#In the "flowers" data frame, change the "Petal_Length" column from centimeters to millimeters and then change it back
#1 centimeter is 10 millimeters
#type your code here

#Change it back
#type your code here

### Utilizing SQL queries in SparkR
You can also **utilize SQL queries in SparkR**, thanks to the SQL Context created. Before utilizing SQL queries, you need to register your data frames as `tempTables`. Let's do this right now:

In [18]:
#Create a temporary SQL table called "cars" using our SparkR data frame "cars"
createOrReplaceTempView(cars,"cars")
#Create a temporary SQL table called "flowers" using our SparkR data frame "flowers"
#createOrReplaceTempView(flowers,"flowers")

Now that we have our temporary tables, we can perform queries using the `sql` command.

In [19]:
#Select the first six rows from the "cars" data frame where the value of the "cyl" column is greater than 6
SparkR::head(sql( "SELECT * FROM cars WHERE cyl > 6"))

  mpg  cyl disp  hp  drat wt   qsec  vs am gear carb
1 18.7 8   360.0 175 3.15 3.44 17.02 0  0  3    2
2 14.3 8   360.0 245 3.21 3.57 15.84 0  0  3    4
3 16.4 8   275.8 180 3.07 4.07 17.40 0  0  3    3
4 17.3 8   275.8 180 3.07 3.73 17.60 0  0  3    3
5 15.2 8   275.8 180 3.07 3.78 18.00 0  0  3    3
6 10.4 8   472.0 205 2.93 5.25 17.98 0  0  3    4

Now, try performing a query on the `flowers` data frame.

In [20]:
#Select the first six rows from the "flowers" data frame where the value of the "Petal_Length" column is greater than 1
#type your code here

# Linear Models in SparkR

### Creating a Gaussian Regression Model
To create a Gaussian Regression Model, we utilize the general `glm` function, **passing the value `gaussian` to the `family` parameter**, indicating that it is a Gaussian model.

`glm` understands most of **R**'s formula operators, such as **~, +, -, . and :**. We can use them to easily create the model, like so:

In [21]:
#Create a GLM of the Gaussian family of models, using the formula that has "mpg" as the response variable and
#"hp" and "cyl" as the predictors.
model <- SparkR::glm(mpg ~ hp + cyl, data = cars, family = "gaussian")

We can check the data for this model in a easy-to-read manner using the `summary` function:

In [22]:
#Retrieve the data from our model
SparkR::summary(model)

Deviance Residuals:
(Note: These are approximate quantiles with relative error <= 0.01)
    Min       1Q   Median       3Q      Max
-4.4948  -3.1682  -0.2168   1.9511   7.2934

Coefficients:
             Estimate   Std. Error  t value  Pr(>|t|)
(Intercept)  36.908     2.1908      16.847   2.2204e-16
hp           -0.019122  0.015001    -1.2747  0.21253
cyl          -2.2647    0.57589     -3.9325  0.00048038

(Dispersion parameter for gaussian family taken to be 10.06809)

    Null deviance: 1126.05  on 31  degrees of freedom
Residual deviance:  291.97  on 29  degrees of freedom
AIC: 169.6

Number of Fisher Scoring iterations: 1

Now that we know how to create this model, we can **use it for predicting data points** using the `predict` function:

In [23]:
#Create predictions based on the model created
predictions <- SparkR::predict(model, newData = cars)
SparkR::head(select(predictions, "mpg", "prediction"))

  mpg  prediction
1 21.0 21.21678
2 21.0 21.21678
3 22.8 26.07124
4 21.4 21.21678
5 18.7 15.44448
6 18.1 21.31239

Now that you know how to create a Gaussian model, try it using the `flowers` data set:

In [24]:
#Create a Gaussian GLM, using the formula that has "Sepal_Length" as the response variable and "Sepal_Width" and "Species"
#as the predictor
#type your code here

#Retrieve the data from our model
#type your code here

#Create predictions based on the model created
#type your code here

### Creating a Binomial Regression Model
Creating a Binomial Regression Model is simple - you just pass the value `binomial` to the `family` parameter of the `glm` function, like this:

In [25]:
#Create a Binomial GLM, using the formula that has "am" as the response variable and "hp", "mpg" and "wt" as the predictors
model <- SparkR::glm(am ~ hp + mpg + wt, data = cars, family = "binomial")

As seen before, we can retrieve data from our model using the `summary` function:

In [26]:
#Retrieve data from our model
SparkR::summary(model)

Deviance Residuals:
(Note: These are approximate quantiles with relative error <= 0.01)
     Min        1Q    Median        3Q       Max
-1.93381  -0.10002  -0.01766   0.00993   1.47331

Coefficients:
             Estimate  Std. Error  t value   Pr(>|t|)
(Intercept)  -15.721   40.003      -0.39301  0.69431
hp           0.083893  0.082278    1.0196    0.3079
mpg          1.2293    1.5811      0.7775    0.43686
wt           -6.9549   3.353       -2.0743   0.038056

(Dispersion parameter for binomial family taken to be 1)

    Null deviance: 43.2297  on 31  degrees of freedom
Residual deviance:  8.7661  on 28  degrees of freedom
AIC: 16.77

Number of Fisher Scoring iterations: 11

And then, of course, **predict data points using our binomial regression model**:

In [27]:
#Create predictions based on the model created
predictions <- SparkR::predict(model, newData = cars)
SparkR::head(select(predictions, "am", "prediction"))

  am prediction
1 1  0.7503261501
2 1  0.3377911774
3 1  0.9815376121
4 0  0.0726885017
5 0  0.1216384131
6 0  0.0001622473

Now that you know how to build a binomial regression model, you can try a different model on the `cars` dataset.

In [28]:
#Create a Binomial GLM, using the formula that has "vs" as the response variable and "drat" ,"disp" and "gear" as
#the predictors
#type your code here

#Retrieve data from our model
#type your code here

#Create predictions based on the model created
#type your code here